<form id="form" method="POST" class="flex flex-col gap-3 mt-4">
  <input
    class="border-2 border-gray-300 px-3 py-2 rounded placeholder:italic placeholder:text-[16px] dark:text-just-black"
    type="text"
    name="fullname"
    id="input-name"
    placeholder="Nombre Completo"
  />
  <p class="hidden text-red-500 pl-2 -mt-2" id="error-name"></p>
  <input
    class="border-2 border-gray-300 px-3 py-2 rounded placeholder:italic placeholder:text-[16px] dark:text-just-black"
    type="email"
    name="email"
    id="input-email"
    placeholder="Correo Electrónico"
  />
  <p class="hidden text-red-500 pl-2 -mt-2" id="error-email"></p>
  <a
    href="/thanks"
    class="bg-main-button py-2 rounded text-white text-center italic hover:bg-red-600 transition-all duration-100 ease-linear active:scale-95"
    >Suscríbete</a
  >
</form>

<script type="module" src="/scripts/form_validation.js"></script>
