---
import WarningCard from "../../thanks-layout/Hero/WarningCard.astro";
---

<section>
  <h2
    class="text-center text-clamp-lg font-sans-serif font-bold uppercase pt-8 pb-10"
  >
    Por favor ten en cuenta lo siguiente
  </h2>
  <div class="flex justify-center flex-wrap gap-14 items-center mx-5">
    <WarningCard
      title="Atento a tu correo"
      text="Asegúrate de mantener tu correo electrónico actualizado para que no te pierdas nuestras próximas comunicaciones. ¡Mantente atento a tu correo y descubre todo lo que necesitas saber sobre rinoplastía y rinología con el equipo del Dr. Cristian Simons!"
    />
    <WarningCard
      title="¿No estás recibiendo nuestras últimas novedades?"
      text="Buscando las últimas novedades sobre rinoplastía y rinología con el equipo del Dr. Cristian Simons en Tarija, Bolivia? Verifica tu bandeja de promociones y mueve nuestras comunicaciones a la bandeja principal para no perderte ningún detalle. ¡Estamos emocionados de compartir contigo nuestras últimas noticias y consejos!"
    />
  </div>
</section>
