---
import WarningIcon from "/assets/warning-icon.png";
---

<div
  class="relative h-full bg-gradient-linear-light dark:bg-gradient-linear-dark max-w-[600px] py-6 px-6 rounded-2xl mx-auto"
>
  <img
    class="w-16 absolute -right-6 -top-6 bottom-0 animate-bounce"
    src={WarningIcon}
    alt="warning icon"
  />
  <h1
    class="text-white text-center text-clamp-md font-sans-serif font-bold uppercase mb-3"
  >
    {Astro.props.title}
  </h1>
  <p class="text-white text-center text-clamp-sm font-sans-serif font-normal">
    {Astro.props.text}
  </p>
</div>
