<div>
  <h2 class="text-clamp-md font-bold uppercase">
    ¡Suscríbete al Boletín de Rinoplastia y Salud Nasal del Dr. Simons:
    Transforma Tu Nariz, Transforma Tu Vida!
  </h2>
  <p class="text-clamp-sm">
    Transforma tu vida con información valiosa sobre rinoplastia y salud nasal:
    ¡Suscríbete ahora y accede a consejos de expertos, técnicas innovadoras,
    últimas tendencias, testimonios inspiradores, promociones exclusivas y mucho
    más, todo para mejorar tu bienestar, elevar tu autoestima y mantenerte
    siempre informado en el apasionante mundo de la rinoplastia y el cuidado
    nasal!.
  </p>
</div>
