---
import InfoDataCard from "./InfoDataCard.astro";
---

<div
	class="bg-black bg-opacity-80 grid place-content-center w-full h-screen fixed z-20">
	<InfoDataCard
		status="¡Tus datos han sido enviados!"
		message="Ahora presiona el botón continuar para ver las consideraciones a tener en cuenta después de que te hayas registrado..."
		type="button"
		buttonText="Continuar"
	/>
</div>
