---
import ThanksLayout from "../layouts/ThanksLayout.astro";

import Header from "../components/thanks-layout/Header/Header.astro";
import Hero from "../components/thanks-layout/Hero/Warning.astro";
import Consulta from "../components/thanks-layout/Consulta/Consulta.astro";
---

<ThanksLayout title="¡Gracias por suscribirte!">
  <!-- Header -->
  <Header />
  <main class="overflow-x-hidden">
    <!-- Sección #1 -->
    <Hero />
    <!-- Sección #2 -->
    <Consulta />
  </main>
</ThanksLayout>
