---
import Header from "../layouts/header.astro";
---

<Header />
<h1
  class="grid place-content-center h-screen bg-blue-light dark:bg-blue-dark text-white text-2xl uppercase font-bold font-sans-serif"
>
  En Mantenimiento...
</h1>
