---
import DarkLogo from "/assets/logos/dark-logo.jpg";
// Light Switch
import switchLightButton from "/assets/switch-mode/switch-dark-button.png";
import roundLightButton from "/assets/switch-mode/round-dark-button.png";
---

<header class="flex justify-around items-center">
  <img
    class="w-[180px] sm:w-[30vw] md:w-[220px]"
    src={DarkLogo}
    alt="Logo claro"
  />

  <!-- Switch Dark Button -->
  <div class="max-sm:fixed max-sm:bottom-[20px] max-sm:right-[20px]">
    <label id="switch-label" class="h-fit relative" for="switch">
      <img id="switch-button" src={switchLightButton} alt="switch-button" />
      <img
        id="round-button"
        class="absolute -top-[6px] transform transition-transform duration-300 ease-out"
        src={roundLightButton}
        alt="round button"
      />
    </label>
  </div>
</header>
