---
import DarkLogo from "/logos/dark-logo.jpg";
// Light Switch
import switchLightButton from "/images/switch-mode/switch-dark-button.png";
import roundLightButton from "/images/switch-mode/round-dark-button.png";
// Dark Switch
import switchDarkButton from "/images/switch-mode/switch-light-button.png";
import roundDarkButton from "/images/switch-mode/round-light-button.png";
---

<header class="flex justify-around items-center">
  <img
    class="w-[180px] sm:w-[30vw] md:w-[220px]"
    src={DarkLogo}
    alt="Logo claro"
  />

  <!-- Switch Dark Button -->
  <div class="max-sm:fixed max-sm:bottom-[20px] max-sm:right-[20px]">
    <label id="switch-label" class="h-fit relative" for="switch">
      <img id="switch-button" src={switchLightButton} alt="switch-button" />
      <img
        id="round-button"
        class="absolute -top-[6px] transform transition-transform duration-300 ease-out"
        src={roundLightButton}
        alt="round button"
      />
    </label>
  </div>
</header>

<script>
  const d = document;

  const switchButton = d.getElementById("switch-button") as HTMLInputElement;
  const roundButton = d.getElementById("round-button") as HTMLInputElement;
  const switchInput = d.getElementById("switch-input") as HTMLInputElement;

  d.getElementById("switch-label").addEventListener("click", () => {
    roundButton.classList.toggle("translate-x-full");
    if (roundButton.classList.contains("translate-x-full")) {
      roundButton.src = "/images/switch-mode/round-light-button.png";
      switchButton.src = "/images/switch-mode/switch-light-button.png";
      // TODO: Cambiar clase del body a is-active
    } else {
      roundButton.src = "/images/switch-mode/round-dark-button.png";
      switchButton.src = "/images/switch-mode/switch-dark-button.png";
    }
  });
</script>
