---
import LightLogo from "/assets/logos/light-logo.png";
// Light Switch
import switchLightButton from "/assets/switch-mode/switch-light-button.png";
import roundLightButton from "/assets/switch-mode/round-light-button.png";
---

<header class="flex justify-around items-center my-4">
  <img
    class="w-logo-header-clamp"
    id="header-logo"
    src={LightLogo}
    alt="Logotipo"
  />

  <!-- Switch Dark Button -->
  <div class="max-sm:fixed max-sm:bottom-[20px] max-sm:right-[20px]">
    <label id="switch-label" class="h-fit relative" for="switch">
      <img
        class="drop-shadow-custom"
        id="switch-button"
        src={switchLightButton}
        alt="switch-button"
      />
      <img
        id="round-button"
        class="absolute -top-[6px] transform transition-transform duration-500 ease-out"
        src={roundLightButton}
        alt="round-button"
      />
    </label>
  </div>
</header>
