<div>
  <img src="" alt="User picture" />
  <p>
    ¡Me encanta recibir la Newsletter del Dr. Simons! Siempre encuentro noticias
    interesantes y útiles sobre cirugía estética y cuidado de la piel. Estoy muy
    agradecido por la información y los consejos que comparten en cada edición.
    ¡Sigan así!
  </p>
  <h3>María López</h3>
  <span>@maria_lopez04</span>
</div>
