<div
  class="flex flex-col gap-3 min-w-[500px] border-2 border-white rounded-[40px] bg-white bg-opacity-10 text-center py-8 px-5 text-white mt-10 text-clamp-sm font-sans-serif"
>
  <!-- <img src={user} alt="User Image" /> -->
  <p>{Astro.props.opinionText}</p>
  <h3 class="text-[#E1AB20] font-bold text-clamp-sm uppercase">
    {Astro.props.userName}
  </h3>
  <span class="text-sm text-gray-300">{Astro.props.userAccount}</span>
</div>
