---
import OpinionCard from "../../public/scripts/card_slider.jsx";
---

<div>
  <OpinionCard
    opinionText="Esta es una gran aplicación!"
    userName="Nombre del usuario"
    userAccount="@useraccount"
  />
  <OpinionCard
    opinionText="Esta es una gran aplicación!"
    userName="Nombre del usuario"
    userAccount="@useraccount"
  />
</div>
