---
import Button from "../components/button.astro";
---

<article class="flex flex-col max-w-[590px]">
  <h3
    class="text-blue-light font-montserrat dark:text-just-white text-clamp-md font-bold uppercase my-4 max-lg:text-center"
  >
    Conoce Nuestra Newsletter por dentro
  </h3>
  <p class="mb-6 text-clamp-sm font-sans-serif max-lg:text-center">
    Suscríbete y recibe cada semana en tu correo electrónico valiosa
    información, consejos útiles y experiencias inspiradoras sobre rinoplastia
    ultrasónica. Nuestro objetivo es apoyarte en tu camino hacia una salud nasal
    óptima. Este servicio es totalmente gratuito y está diseñado para cumplir
    con tus expectativas y asistirte en cada paso de tu viaje.
  </p>
  <Button />
</article>
