<div class="bg-blue-light dark:bg-blue-dark">
  <h3 class="text-white">Consulta en línea</h3>
  <p class="text-white">Atención médica en tiempo real por internet.</p>
  <a
    href="https://consulta-en-linea.drsimonscristian.com/"
    class="bg-main-button py-2 rounded text-white text-center italic hover:bg-red-600 transition-all duration-100 ease-linear active:scale-95"
    >Registrarme ya</a
  >
</div>
