---
import ConsultaCristian from "/assets/consulta-cristian.webp";
---

<div
	class="bg-gradient-linear-light dark:bg-gradient-linear-dark relative max-w-[500px] mx-auto px-4 py-4 rounded-xl">
	<img
		class="absolute top-[-76px] right-0 max-[420px]:hidden"
		src={ConsultaCristian}
		alt="Consulta en línea con Cristian Simons"
	/>
	<div class="max-w-[15rem] mb-4 z-10 relative">
		<h3 class="text-white font-sans-serif font-bold text-clamp-md">
			Consulta en línea
		</h3>
		<a href="#" class="text-white font-sans-serif text-clamp-sm">
			Atención médica en tiempo real por internet.
		</a>
	</div>
	<a
		href="https://consulta-en-linea.drsimonscristian.com"
		class="bg-main-button py-2 px-4 rounded text-white text-center italic hover:bg-red-600 cursor-pointer"
		>Registrarme ya</a
	>
</div>

<!-- href="https://consulta-en-linea.drsimonscristian.com" -->
