---
import ConsultaCard from "../../thanks-layout/Consulta/ConsultaCard.astro";
import RedesSociales from "./RedesSociales.astro";
import Footer from "../../main-layout/Footer/Footer.astro";
---

<section class="overflow-hidden">
	<h1
		class="text-blue-light dark:text-white text-center text-clamp-lg font-sans-serif font-bold uppercase pt-8 pb-16 max-[420px]:pb-8">
		¡Regístrate en la consulta en línea
	</h1>
	<div class="mx-5">
		<ConsultaCard />
	</div>
	<RedesSociales />
	<Footer />
</section>
