---
export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image" href="/assets/logos/title-logo.png" />
    <title>{title}</title>
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Open+Sans:wght@300;500;700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body data-darkmode>
    <slot />
  </body>
</html>

<style>
  body {
    background-color: #fff;
    color: #222;
  }
  [data-darkmode].is-active {
    background-color: #222;
    color: #fff;
  }
  .translate-x-full {
    transform: translateX(100%) !important;
  }
</style>
