---
import OpinionCard from "../components/card-opnion.astro";
---

<section
  class="w-full h-screen bg-gradient-linear from-blue-light to-blue bg-bottom"
>
  <h1
    class="pt-10 text-just-white text-center text-clamp-lg font-bold font-montserrat uppercase"
  >
    Opiniones de mis Suscriptores
  </h1>
  <OpinionCard />
</section>
