---
import OpinionCard from "../components/OpinionCard.astro";
---

<section
  class="w-full pb-20 bg-gradient-linear-light dark:bg-gradient-linear-dark"
  data-darkmode
>
  <h1
    class="pt-10 text-just-white text-center text-clamp-lg font-bold font-montserrat uppercase"
  >
    Opiniones de mis Suscriptores
  </h1>

  <div
    class="w-full flex justify-center gap-[50px] overflow-hidden overflow-x-scroll"
  >
    <OpinionCard
      opinionText="¡Me encanta recibir la Newsletter del Dr. Simons! Siempre encuentro noticias interesantes y útiles sobre cirugía estética y cuidado de la piel. Estoy muy agradecido por la información y los consejos que comparten en cada edición. ¡Sigan así!"
      userName="María Gallardo"
      userAccount="@maria_ga02"
    />
    <OpinionCard
      opinionText="¡Me encanta recibir la Newsletter del Dr. Simons! Siempre encuentro noticias interesantes y útiles sobre cirugía estética y cuidado de la piel. Estoy muy agradecido por la información y los consejos que comparten en cada edición. ¡Sigan así!"
      userName="María Gallardo"
      userAccount="@maria_ga02"
    />
    <OpinionCard
      opinionText="¡Me encanta recibir la Newsletter del Dr. Simons! Siempre encuentro noticias interesantes y útiles sobre cirugía estética y cuidado de la piel. Estoy muy agradecido por la información y los consejos que comparten en cada edición. ¡Sigan así!"
      userName="María Gallardo"
      userAccount="@maria_ga02"
    />
    <OpinionCard
      opinionText="¡Me encanta recibir la Newsletter del Dr. Simons! Siempre encuentro noticias interesantes y útiles sobre cirugía estética y cuidado de la piel. Estoy muy agradecido por la información y los consejos que comparten en cada edición. ¡Sigan así!"
      userName="María Gallardo"
      userAccount="@maria_ga02"
    />
  </div>
</section>
