---
import OpinionCard from "../components/OpinionCard.astro";
---

<section
  class="w-full bg-gradient-linear-light dark:bg-gradient-linear-dark pb-10"
  data-darkmode
>
  <h1
    class="pt-10 text-just-white text-center text-clamp-lg font-bold font-montserrat uppercase"
  >
    Opiniones de mis Suscriptores
  </h1>

  <!-- Slider main container -->
  <div
    class="swiper w-[90%] max-w-[600px] gap-6 h-fit overflow-y-hidden overflow-scroll scroll-snap-x-mandatory flex flex-nowrap items-center px-[50px]"
  >
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
      <!-- Slides -->
      <div class="swiper-slide w-auto h-fit">
        <OpinionCard
          gender="women"
          id="22"
          userName="Ana Paola"
          userAccount="@ana_pao02"
          opinionText="La información es clara, corta y excelente. Muchas gracias por permitirnos nutrir de su conocimiento, un saludo desde Argentina"
        />
      </div>

      <div class="swiper-slide w-auto h-fit">
        <OpinionCard
          gender="women"
          id="35"
          userName="Ángela Flores"
          userAccount="@angiflorrr"
          opinionText="Esta haciendo un trabajo incrible, siga aportantando tanto valor a la gente. Agradecida de corazón"
        />
      </div>

      <div class="swiper-slide w-auto h-fit">
        <OpinionCard
          gender="men"
          id="6"
          userName="Andŕes Montaño"
          userAccount="@montaño_andress"
          opinionText="Hace muy facil el entender todo lo que necesito saber sobre mi rinoplastia, definitivamente haré la mia con el doctor"
        />
      </div>

      <div class="swiper-slide w-auto h-fit">
        <OpinionCard
          gender="men"
          id="45"
          userName="Rodrigo Condori"
          userAccount="@rodriCondori69"
          opinionText="Muy bueno, siga asi, lo admiro mucho por el trabajo que hace y encima gratis... BRUTAL"
        />
      </div>

      <div class="swiper-slide w-auto h-fit">
        <OpinionCard
          gender="women"
          id="10"
          userName="Ana Claudia"
          userAccount="@anaClauu24"
          opinionText="La verdad, al despertar me dio una razón para abrir mi gmail y revisar el correo del dia, esta tremendo"
        />
      </div>
    </div>
  </div>

  <div class="flex justify-center gap-8 pt-6">
    <div
      class="swiper-button-ant grid place-content-center p-1 border-2 border-white rounded-full bg-white bg-opacity-10 cursor-pointer active:scale-90 transition-all duration-100 ease-linear"
    >
      <ion-icon class="text-white text-4xl" name="chevron-back-outline"
      ></ion-icon>
    </div>
    <div
      class="swiper-button-sig grid place-content-center p-1 border-2 border-white rounded-full bg-white bg-opacity-10 cursor-pointer active:scale-90 transition-all duration-100 ease-linear"
    >
      <ion-icon class="text-white text-4xl" name="chevron-forward-outline"
      ></ion-icon>
    </div>
  </div>

  <!-- Swiper API -->
  <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css"
  />
  <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"
  ></script>
  <script type="module">
    document.addEventListener("DOMContentLoaded", function () {
      import("/scripts/swiperApi.js").then((module) => {
        const initSwiper = module.initSwiper;
        initSwiper();
      });
    });
  </script>
</section>
