---
import UneteArt from "./UneteContent.astro";

import MailImage from "/assets/mail-image.png";
---

<section class="max-w-[90%] mx-auto pb-10">
  <h1
    class="font-sans-serif font-bold text-blue-light dark:text-white text-clamp-lg text-center uppercase mt-10 my-8"
  >
    Únete Gratis antes de que enviemos el email de hoy
  </h1>
  <div
    class="max-w-[1420px] mx-[18px] mb-16 flex justify-evenly lg:my-16 items-center sm:mx-auto max-lg:flex-col"
  >
    <img class="w-[80%] max-w-[400px]" src={MailImage} alt="Mail Image" />
    <UneteArt />
  </div>
</section>
